[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"
ipdb = "*"
bandit = "*"
safety ="*"
sphinx = "*"
flake8 = "*"
black = "==19.3b0"
boto3 = "*"

[packages]
pandas = "*"

[requires]
python_version = "3.7"
